/* Universal Styles */
html {
  font-size: 18px;
}

body {
  background-color: #eee;
  font-family: "Lato",serif;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


/* Header */
header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  width: 100%;
  position: fixed;
  background-color: #eee;
  z-index: 1;
}

header .logo {
  padding-top: 10px;
}

header .logo img{
  width: 20rem;
}

header .header-nav ul {
  display: flex;
  font-family: "Lato", serif;
}

.header-nav ul li {
  padding-right: 64px;
  list-style: none;
}

.header-nav ul li a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 600px) {
  .header-nav {
    display: none;
  }

  header .logo {
    margin: auto;
  }
}
/* Lead Generation */
.lead-generation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

.lead-generation h1 {
  font-size: 1.5rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#email {
  width: 40%;
  height: 1rem;
  margin: auto;
  margin-bottom: 10px;
}

.submit {
  background-color: #f1c40f;
  font-size: 1rem;
  font-weight: 900;
  width: 15%;
  height: 2rem;
  margin: auto;
}

/* Information Section */
.information-section {
  padding-top: 64px;
}

.info-icon {
  margin-top: 24px;
  margin-right: -50px;
  font-size: 3rem;
  color: darkorange;
}

.info {
  display: flex;
}

.info-content  {
  margin-left: 150px;
  line-height:
}

.info-content h2 {
  line-height: .005px;
}

/* Page video */
.page-video {
  margin: 0 auto;
  padding-top: 64px;
  padding-left: 220px;
}
iframe {
  width: 560px;
  margin: 0 auto;
}

/* Product grid */
.product-grid {
  display: flex;
  padding-top: 64px;
  margin: auto;
  justify-content: space-between;
}

.product-box {
  text-align: center;
  border: 1px solid black;
  width: 300px;
  height: 20rem;
}

.product-box h3{
  background-color: lightgray;
  margin-top: 0;
  height: 50px;
  padding-top: 25px;
}

.select {
  background-color: #f1c40f;
  width: 40%;
  height: 2rem;
  font-size: 1rem;
}

/* Footer */
footer {
  text-align: right;
  margin-top: 32px;
  margin-bottom: 0;
  background-color: lightgray;
  height: 5rem;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}

footer ul li {
  padding-right: 15px;
}

footer ul li a {
  text-decoration: none;
  color: black;
}
footer ul, p {
  padding-right: 12px;
  font-size: .9rem;
}
